.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
body {
    background-color: #040949;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    color: white;
}